h1 {
    color: rgb(2, 1, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 67px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.indexpage {
    /* display: grid;
    grid-area: span; */
    background-color: aliceblue;
    display: grid;
} 
/* Flexbox: 1-dimensional layouts (single row or column). Great for navbars, toolbars, aligning items along one axis, simple responsive wrapping.
Grid: 2-dimensional layouts (rows + columns). Great for full pages, complex component layouts, explicit placement of items. */
.genericflex {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn {
    color: rgb(49, 6, 6);
    border: 0;
    background-color: rgb(221, 102, 102);
    padding-right: 3%; padding-left: 3%; padding-bottom: 1%; padding-top: 1%;
    text-decoration: none;
    font-style: italic;
    border-radius: 10px; 
    font-size: 20px;
}

.btn:hover {
    color: rgb(238, 189, 189);
    background-color: rgb(159, 63, 63);
    padding-right: 3%; padding-left: 3%; padding-bottom: 1%; padding-top: 1%;
    text-decoration: none;
    font-style: italic;
    border-radius: 10px;
} 

button {
    color: rgb(49, 6, 6);
    border: 0;
    background-color: rgb(221, 102, 102);
    padding-right: 10%; padding-left: 10%; padding-bottom: 3%; padding-top: 3%;
    text-decoration: none;
    font-style: italic;
    border-radius: 10px;
}

button:hover {
    color: rgb(238, 189, 189);
    background-color: rgb(159, 63, 63);
    padding-right: 10%; padding-left: 10%; padding-bottom: 3%; padding-top: 3%;
    text-decoration: none;
    font-style: italic;
    border-radius: 10px;
}

.form {
    display: flex; 
    flex-direction: column;
    gap: 20px; 

}

.navbar {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 12px;
    width:auto;
    background-color: aqua;
    min-width:max-content;
}

.navtext {
    display: flex;
    gap: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    padding:10px;
    row-gap: 20px;
}

.login {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    .btn {
        padding: 0.5rem 1rem;
        max-width: fit-content;
    }
}


@media (max-width: 300px) {
    h1 { font-size: 40px; }

    .navbar { 
        flex-direction: column;
        gap: 10px;
        justify-content: right;
    }

    /* make buttons more compact */
    .btn, button { padding: 0.5rem 1rem; }

    /* center form inputs in a column (if .form is a flex container) */
    /* .form { display: flex; flex-direction: column; align-items: center; gap: 0.6rem; } */
}