/* h3 {

} */
characters {
    display:flex; 
    flex-direction: column;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    background-color: rgb(236, 212, 212);
    color: rgb(116, 12, 12);
}