<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make character sheet</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}" />
</head>
<body>
    <div class = "navbar">
        <div>
            <a href="{{ url_for('index')}}">
                <div class="logosmall">
                    <img src="{{ url_for('static', filename='images/logosmall.png')}}" width="50" height="50"> 
                </div>
            </a>
        </div>

        <div class="navtext">
            {% if session.get('user_id') %}
                <a href="{{ url_for('profile')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/profile.png')}}" width="30" height="30"> 
                        Your profile
                    </div>
                </a>

                <a href="{{ url_for('notes')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/note.png')}}" width="30" height="30"> 
                        Notes
                    </div>
                </a>
            {% else %}
            {% endif %}
            <a href="{{ url_for('notices')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/bell.png')}}" width="30" height="30"> 
                    Notices
                </div>
            </a>

            <a href="{{ url_for('view_chars')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/char.png')}}" width="30" height="30"> 
                    Characters
                </div>
            </a>

            <a href="{{ url_for('dice')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/dice.png')}}" width="30" height="30"> 
                    Dice
                </div>
            </a>

            <a href="{{ url_for('timetable')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/time.png')}}" width="30" height="30"> 
                    Timetable
                </div>
            </a>
        </div>
        <div style="align-self: flex-end;">
            {% if session.get('user_id') %}
            <div class="navlinks">
                <a href="{{ url_for('logout')}}">Log out</a>
            </div>

            {% else %}
            <div class="navlinks">
                <a href="{{ url_for('login')}}">Log in</a>
            </div>

            {% endif %}
        </div>
    </div>
    <h1>
        Create your own character sheet
    </h1>

    <h2>
        Template
    </h2>
    <form id="form" class="form">
        <div style="display:flex; flex-direction: column; padding: 10px; gap:10px;">
        <fieldset>
            <legend>Character information</legend>
            <textarea name="ch_name" id="ch_name" placeholder="Character's name" required></textarea>
            <input name="ch_age" id="ch_age" placeholder="Character's age" type="number" min="0" style="width:500px;"required></input>
            <textarea name="ch_desc" id="ch_desc" placeholder="Character's description" required></textarea>
            <textarea name="ch_race" id="ch_race" placeholder="Character's race" required></textarea>
        </fieldset>

        <fieldset>
            <legend>Character stats</legend>
            <div style="display: flex; gap: 10px; align-items: center;">
                <input name="ch_str" id="ch_str" placeholder="Strength" type="number" min="0" max="20" required>
                <input name="ch_dex" id="ch_dex" placeholder="Dexterity" type="number" min="0" max="20" required>
                <input name="ch_con" id="ch_con" placeholder="Constitution" type="number" min="0" max="20" required>
                <input name="ch_int" id="ch_int" placeholder="Intelligence" type="number" min="0" max="20" required>
                <input name="ch_wis" id="ch_wis" placeholder="Wisdom" type="number" min="0" max="20" required>
                <input name="ch_cha" id="ch_cha" placeholder="Charisma" type="number" min="0" max="20" required>
            </div>

        </fieldset>
    </div>
        <input class="btn" type="submit" name="charsheet-submit" id="charsheet-submit" style="max-width: 75vw; margin-left: 20vw; margin-right: 20vw;">
    </form>

    <script>
        const form = document.getElementById('form');
        if (form) {
            form.addEventListener('submit', async (e) => {
            // Preventing the default event (here it stops the browser's default behaviour)
                e.preventDefault();
                // loading all information into a dictionary to send to the backend
                const ch_info = {}
                const info = {}
                const name = document.getElementById('ch_name').value;
                //.value returns a str, parseInt makes it a number (base 10) 
                const age = parseInt(document.getElementById('ch_age').value, 10);
                const desc = document.getElementById('ch_desc').value;
                const race = document.getElementById('ch_race').value;
                info['age'] = age
                info['desc'] = desc
                info['race'] = race
                const stats = {}
                const str = parseInt(document.getElementById('ch_str').value, 10);
                const dex = parseInt(document.getElementById('ch_dex').value, 10);
                const con = parseInt(document.getElementById('ch_con').value, 10);
                const int = parseInt(document.getElementById('ch_int').value, 10);
                const wis = parseInt(document.getElementById('ch_wis').value, 10);
                const cha = parseInt(document.getElementById('ch_cha').value, 10);
                stats['str'] = str
                stats['dex'] = dex
                stats['con'] = con
                stats['int'] = int
                stats['wis'] = wis
                stats['cha'] = cha
                ch_info['name'] = name
                ch_info['info'] = info
                ch_info['stats'] = stats

                try {
                    const response = await fetch("/api/savechar", {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        credentials: 'same-origin',
                        body: JSON.stringify(ch_info)
                });
                    const data = await response.json();
                    if (data.status === 'success') {
                        alert("Character sheet successfully saved!")
                        window.location.href = ('{{ url_for("view_chars")}}')
                } else {
                    if (data.message === "unauthenticated") {
                        alert("Sign in to see/save your profile")
                        window.location.href = ('{{ url_for("login")}}')
                    } else {
                        alert("Error, try again later");
                    }
                }
            } catch (error) {
                alert("Error, try again later");
            }
    });
    } else {
        console.error("No form")
    }
    </script>
</body>
</html>