<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}" />
    <title>admin mention part 2</title>
</head>
<body>
    <h1>
        create an event
    </h1>

    <form id="custom-event-form">
        <fieldset>
            <legend>New event</legend>
            <label>Event title</label>
            <input type="text" id="event-title" value="Title" required>
            <label>When is it?</label>
            <input type="date" id="event-date" required>
            <label>(Optional) Any extra info!</label>
            <textarea name="notice_body" id="event-body" placeholder="Any extra info..."></textarea>
        </fieldset>
        <input type="submit" class="btn" value="Create event">
    </form>

    <h1>
        change the current timetable
    </h1>

    
    <form id="regular-timetable-form">
        Make regular sessions on:
        <fieldset>
            <legend>Week A</legend>
            <input type="checkbox" id="weekAMon" name="day" value="weekAMon"> Monday
            <input type="checkbox" id="weekATue" name="day" value="weekATue"> Tuesday
            <input type="checkbox" id="weekAWed" name="day" value="weekAWed"> Wednesday
            <input type="checkbox" id="weekAThu" name="day" value="weekAThu"> Thursday
            <input type="checkbox" id="weekAFri" name="day" value="weekAFri"> Friday
        </fieldset>

        <fieldset>
            <legend>Week B</legend> 
            <input type="checkbox" id="weekBMon" name="day" value="weekBMon"> Monday
            <input type="checkbox" id="weekBTue" name="day" value="weekBTue"> Tuesday
            <input type="checkbox" id="weekBWed" name="day" value="weekBWed"> Wednesday
            <input type="checkbox" id="weekBThu" name="day" value="weekBThu"> Thursday
            <input type="checkbox" id="weekBFri" name="day" value="weekBFri"> Friday
        </fieldset>
    <input type="submit" class="btn" value="Change timetable">
    </form>

    <script>
        const eventform = document.getElementById('custom-event-form')
        const timetableform = document.getElementById('regular-timetable-form')
        if (eventform) {
            eventform.addEventListener('submit', async (e) => {
            // Preventing the default event (here it stops the browser's default behaviour)
                e.preventDefault();
                alert('hello')
                // loading all information into a dictionary to send to the backend
                const event = {};
                date = document.getElementById('event-date').value;
                const eDate = new Date(date);
                event['date'] = eDate.toDateString()

                eventTitle = document.getElementById('event-title').value;
                event['title'] = eventTitle

                body = document.getElementById('event-body').value;
                event['body'] = body

                try {
                    const response = await fetch("/api/saveevent", {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        //mitigating CSRF - ONLY accepts it from 127.0.0.1:5000
                        credentials: 'same-origin',
                        body: JSON.stringify(event)
                });
                const data = await response.json()
                    if (data.status === 'success') {
                        alert("Event successfully saved!")
                        window.location.href = "{{ url_for('timetable') }}";
                } else {
                        alert("Error, try again later")
                }
                    } catch (error) {
                        alert("Error, try again later");
                    }
            });
        } else {
            console.error("wheres the form vro")
        }
        if (timetableform) {
            timetableform.addEventListener('submit', async (e) => {
            // Preventing the default event (here it stops the browser's default behaviour)
            e.preventDefault();
            // selecting EVERY day that was picked
            const checkedBoxes = document.querySelectorAll('input[name="day"]:checked').value;
            const days = Array.from(checkedBoxes).map(cb => cb.value);
            if (days.length === 0) {
                alert('Please select a day');
                return;
            } else {
                const response = await fetch("/api/savetimetable", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(days)
                });
                const data = await response.json()
                    if (data.status === 'success') {
                        alert("Timetable successfully edited!")
                        window.location.href = "{{ url_for('timetable') }}";
                } else {
                    alert("Error, try again later")
                };
                    
            };

    });

        } else {
            console.error("wheres the form vro")
        }
    
    </script>
</body>
</html>