<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}"/>
    <title>admin mention</title>
</head>
<body>
    <div class = "navbar">
        <div>
            <a href="{{ url_for('index')}}">
                <div class="logosmall">
                    <img src="{{ url_for('static', filename='images/logosmall.png')}}" width="50" height="50"> 
                </div>
            </a>
        </div>

        <div class="navtext">
            {% if session.get('user_id') %}
                <a href="{{ url_for('profile')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/profile.png')}}" width="30" height="30"> 
                        Your profile
                    </div>
                </a>

                <a href="{{ url_for('notes')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/note.png')}}" width="30" height="30"> 
                        Notes
                    </div>
                </a>
            {% else %}
            {% endif %}
            <a href="{{ url_for('notices')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/bell.png')}}" width="30" height="30"> 
                    Notices
                </div>
            </a>

            <a href="{{ url_for('view_chars')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/char.png')}}" width="30" height="30"> 
                    Characters
                </div>
            </a>

            <a href="{{ url_for('dice')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/dice.png')}}" width="30" height="30"> 
                    Dice
                </div>
            </a>

            <a href="{{ url_for('timetable')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/time.png')}}" width="30" height="30"> 
                    Timetable
                </div>
            </a>
        </div>
        <div style="align-self: flex-end;">
            {% if session.get('user_id') %}
            <div class="navlinks">
                <a href="{{ url_for('logout')}}">Log out</a>
            </div>

            {% else %}
            <div class="navlinks">
                <a href="{{ url_for('login')}}">Log in</a>
            </div>

            {% endif %}
        </div>
    </div>
    <h1>
        create a notice
    </h1>

    <form id="form">
        <fieldset>
            <legend>New notice</legend>
            <label>Title</label>
            <input type="text" id="notice_title" value="Notice">
            
            <label>Body</label>
            <textarea name="notice_body" id="notice_body" placeholder="Notice body..."></textarea>
        </fieldset>

        <input type="submit" class="btn" value="Create notice">
    </form>


    <script>

        if (form) {
            form.addEventListener('submit', async (e) => {
            // Preventing the default event (here it stops the browser's default behaviour)
                e.preventDefault();
                // loading all information into a dictionary to send to the backend
                const notices = {}
                const now = new Date();
                title = document.getElementById('notice_title').value;
                notices['title'] = title
                body = document.getElementById('notice_body').value;
                notices['body'] = body
                // readable human format
                notices['date'] = now.toDateString()

                try {
                    const response = await fetch("/api/savenotices", {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        //mitigating CSRF - ONLY accepts it from 127.0.0.1:5000
                        credentials: 'same-origin',
                        body: JSON.stringify(notices)
                });
                r.response = await response.json()
                    if (r.response['status'] == 'success') {
                        alert("Notice successfully saved!")
                        window.location.href = "{{ url_for('notices') }}";
                } else {
                        alert("Error, try again later")
                }
                    } catch (error) {
                        alert("Error, try again later");
                    }
            });
    } else {
        console.error("wheres the form vro")
    }
    </script>
</body>
</html>