<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/stylesheet.css" />
</head>
<body>
    <h1>
        Dice time...!!!!!
    </h1>
    <form>
        <label>
            How many sides blud
        </label>
        <select name="dice" id="dice">
            <option value="20">20</option>
            <option value="12">12</option>
            <option value="10">10</option>
            <option value="8">8</option>
            <option value="6">6</option>
            <option value="4">4</option>
        </select>
    </form>

</body>
</html>