<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <title>Edit profile</title>
</head>
<body>
     <div class = "navbar">
        <div>
            <a href="{{ url_for('index')}}">
                <div class="logosmall">
                    <img src="{{ url_for('static', filename='images/logosmall.png')}}" width="50" height="50"> 
                </div>
            </a>
        </div>

        <div class="navtext">
            {% if session.get('user_id') %}
                <a href="{{ url_for('profile')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/profile.png')}}" width="30" height="30"> 
                        Your profile
                    </div>
                </a>

                <a href="{{ url_for('notes')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/note.png')}}" width="30" height="30"> 
                        Notes
                    </div>
                </a>
            {% else %}
            {% endif %}
            <a href="{{ url_for('notices')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/bell.png')}}" width="30" height="30"> 
                    Notices
                </div>
            </a>

            <a href="{{ url_for('view_chars')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/char.png')}}" width="30" height="30"> 
                    Characters
                </div>
            </a>

            <a href="{{ url_for('dice')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/dice.png')}}" width="30" height="30"> 
                    Dice
                </div>
            </a>

            <a href="{{ url_for('timetable')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/time.png')}}" width="30" height="30"> 
                    Timetable
                </div>
            </a>
        </div>
        <div style="align-self: flex-end;">
            {% if session.get('user_id') %}
            <div class="navlinks">
                <a href="{{ url_for('logout')}}">Log out</a>
            </div>

            {% else %}
            <div class="navlinks">
                <a href="{{ url_for('login')}}">Log in</a>
            </div>

            {% endif %}
        </div>
    </div>
    <form class="form" id="form">
        <div class="card">
            <div style="display: flex; flex-direction: column; max-width: fit-content;">
                <label for="display-name">Display name</label>
                <input type="text" id="display-name" name="display-name">
            </div>
            <div style="display: flex; flex-direction: column; max-width: fit-content;" >
                <label for="password">Bio (cannot be more than 150 characters)</label>
                <input type="text" id="bio" name="bio">
            </div>
        </div>
        <div>
            <input class="btn" type="submit" value="Let's Go!!">
        </div>
    </form>
    <script>
const form = document.getElementById('form');
        if (form) {
            form.addEventListener('submit', async (e) => {
            // Preventing the default event (here it stops the browser's default behaviour)
                e.preventDefault();
                const profile = {}
                const displayName = document.getElementById('display-name').value;
                const bio = document.getElementById('bio').value;
                profile['display_name'] = displayName
                profile['bio'] = bio
                if (displayName === "" || bio === "") {
                    alert('Profile cannot be null!')
                }
                //debug
                // console.log(profile)
                try {
                    const response = await fetch("/api/saveprofile", {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        credentials: 'same-origin',
                        body: JSON.stringify(profile)
                    });
                    const result = await response.json();
                    if (result['status'] == 'success') {
                        alert('Profile saved!')
                        window.location.href = ('{{ url_for("profile") }}')
                    } else {
                        alert(`Error, ${result.error}`)
                }
                    } catch (error) {
                        // console.error("Error saving membership", error);
                        alert("Error, try again later");
                    }
            });
    } else {
        console.error("wheres the form vro")
    }
    </script>
</body>
</html>