<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome home!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}"/>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
</head>
<body class="homepage">
    <div class="logoback">
        <div class="logobig">
            <img src="{{ url_for('static', filename='images/logobig.png')}}" width="500" height="100"> 
        </div>
    </div>
    <!-- the navbar -->
    <div class = "navbar">
        <div>
            <a href="{{ url_for('index')}}">
                <div class="logosmall">
                    <img src="{{ url_for('static', filename='images/logosmall.png')}}" width="50" height="50"> 
                </div>
            </a>
        </div>

        <div class="navtext">
            {% if session.get('user_id') %}
                <a href="{{ url_for('profile')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/profile.png')}}" width="30" height="30"> 
                        Your profile
                    </div>
                </a>

                <a href="{{ url_for('notes')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/note.png')}}" width="30" height="30"> 
                        Notes
                    </div>
                </a>
            {% else %}
            {% endif %}
            <a href="{{ url_for('notices')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/bell.png')}}" width="30" height="30"> 
                    Notices
                </div>
            </a>

            <a href="{{ url_for('view_chars')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/char.png')}}" width="30" height="30"> 
                    Characters
                </div>
            </a>

            <a href="{{ url_for('dice')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/dice.png')}}" width="30" height="30"> 
                    Dice
                </div>
            </a>

            <a href="{{ url_for('timetable')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/time.png')}}" width="30" height="30"> 
                    Timetable
                </div>
            </a>
        </div>
        <div style="align-self: flex-end;">
            {% if session.get('user_id') %}
            <div class="navlinks">
                <a href="{{ url_for('logout')}}">Log out</a>
            </div>

            {% else %}
            <div class="navlinks">
                <a href="{{ url_for('login')}}">Log in</a>
            </div>

            {% endif %}
        </div>
    </div>
    
    <h1>
        Welcome!
    </h1>

    <nav>
        <fieldset>
            <legend>
                Where do you want to go?
            </legend>

            <ul>
                <a href="{{ url_for('profile')}}">
                    Profile
                </a>
            </ul>
            <ul>
                <a href="{{ url_for('view_chars')}}"">
                    Character sheets
                </a>
            </ul>
            <ul>
                <a href="{{ url_for('dice')}}">
                    Die rolling
                </a>
            </ul>
            <ul>
                <a href="{{ url_for('notices')}}">
                    Noticeboard
                </a>
            </ul>
            <ul>
                <a href="{{ url_for('notes') }}">
                    Note taking
                </a>
            </ul>
        </fieldset>
        <div style="display: flex; flex-direction: column; max-width: 75vw; align-items: center;">
            <div style="display: flex; flex-direction: row; gap: 10px;">
                <img src="{{ url_for('static', filename='images/question.png')}}" style="max-width: 50px;max-height: 50px;">        
                <h2>
                    But wait... what IS DND ANYWAY?
                </h2>
            </div>
            
            <a class="btn" href="https://en.wikipedia.org/wiki/Dungeons_%26_Dragons" >
                Go to the DND wikipedia page!
            </a>
            <p class="descriptiontext">
                ...That might be a little confronting at first though. 
                It's okay! Our club's admins, <b>Chloe</b> and <b>Colton</b>, would be more than welcome to show you around!
                Click below to become a member!
            </p>
        </div>
        

    </nav>

    <script>
        // response = fetch('/api/checksessionID')

    </script>
</body>
</html>