<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome home!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}"/>
</head>
<body class="homepage">
    <div class="logobig">
        <img src="{{ url_for('static', filename='images/logobig.png')}}" width="500" height="100"> 
    </div>
    <!-- the navbar -->
    <div class = "navbar">
        <!-- <div class="logolarge">
            <img src="images/millions slices.png" width="100" height="50"> 
        </div> -->
        <div>
            <a href="{{ url_for('index')}}">
            <div class="logosmall">
                <img src="{{ url_for('static', filename='images/logosmall.png')}}" width="50" height="50"> 
            </div>
            </a>
        </div>

        <div class="navtext">
            {% if session.get('user_id') %}
                <a href="{{ url_for('profile')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/logosmall.png')}}" width="50" height="50"> 
                        Your profile
                    </div>
                </a>

                <a href="{{ url_for('notes')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/logosmall.png')}}" width="50" height="50"> 
                        Notes
                    </div>
                </a>
            {% else %}
            {% endif %}
            <a href="{{ url_for('notices')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/logosmall.png')}}" width="50" height="50"> 
                    Notices
                </div>
            </a>

            <a href="{{ url_for('view_chars')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/logosmall.png')}}" width="50" height="50"> 
                    Characters
                </div>
            </a>

            <a href="{{ url_for('timetable')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/logosmall.png')}}" width="50" height="50"> 
                    Timetable
                </div>
            </a>

            {% if session.get('user_id') %}
                <a href="{{ url_for('logout')}}">Log out</a>
            {% else %}
                <a href="{{ url_for('login')}}">Log in</a>
            {% endif %}


        </div>
    </div>
    
    <h1>
        Welcome!
    </h1>

    <nav>
        <fieldset>
            <legend>
                Where do you want to go?
            </legend>

            <ul>
                <a href="{{ url_for('profile')}}">
                    Profile
                </a>
            </ul>
            <ul>
                <a href="{{ url_for('view_chars')}}"">
                    Character sheets
                </a>
            </ul>
            <ul>
                <a href="{{ url_for('dice')}}">
                    Die rolling
                </a>
            </ul>
            <ul>
                <a href="{{ url_for('notices')}}">
                    Noticeboard
                </a>
            </ul>
            <ul>
                <a href="{{ url_for('notes') }}">
                    Note taking
                </a>
            </ul>
        </fieldset>


    </nav>

    <script>
        // response = fetch('/api/checksessionID')

    </script>
</body>
</html>