<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome home!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}"/>
</head>
<body>
    <!-- the navbar -->
    <div class = "navbar">
        <div class="logosmall">
            <img src="images/millions slices.png" width="50" height="50"> 
        </div>
        <div class="navtext">
            <a href="{{ url_for('index')}}">Start</a>
            <a href="{{ url_for('profile')}}">Profile</a>
            <a href="{{ url_for('timetable')}}">Timetable</a>
            <a href="{{ url_for('charsheets')}}">Character sheets</a>
            <a href="{{ url_for('notes')}}">Notes</a>
        </div>
    </div>
    
    <h1>
        Welcome!
    </h1>

    <!-- <img src="images/millions slices.png"> -->
    <nav>
        <fieldset>
            <legend>
                Where do you want to go?
            </legend>
            <!-- <ul>
                <a href="login.html">
                    Login
                </a>
            </ul> -->
            <!-- need to make these ALL dynamic urls -->
            <ul>
                <a href="profile.html">
                    Profile
                </a>
            </ul>
            <ul>
                <a href="charsheets.html">
                    Character sheets
                </a>
            </ul>
            <ul>
                <a href="{{ url_for('dice')}}">
                    Die rolling
                </a>
            </ul>
            <ul>
                <a href="notice.html">
                    Noticeboard
                </a>
            </ul>
            <ul>
                <a href="{ {url_for('notes') }}""
                    Note taking
                </a>
            </ul>
        </fieldset>


    </nav>

    <script>
        // response = fetch('/api/checksessionID')
    </script>
</body>
</html>