<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello there!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}"/>
</head>
<body>
    <div class="indexpage">
        <div class="genericflex">
            <h1> Welcome to DND </h1>
        </div>
    </div>
    <p>
        yah here we're supa supa cool and swag! 
        ever wanted to Dance with the blackened angel? or rock at a crazy party? or MAYbe... CRY?
        TWIN! we gotchu!!
        just JOIN US!!! the DMD club at our very own HOrnsby Girl HIgh Schoolll!!!!! HAHAHAHAHHA
    </p>
    <h2>
        But wait... what IS DMD?
    </h2>
    <a class="btn" href="https://en.wikipedia.org/wiki/Dungeons_%26_Dragons">
        twin i got youuu 
    </a>
    <p>
        omg hahhahhahaha thank you girll!!!! i freaking love dante i think he must die hahah
    </p>
    <!-- <a class="btn" href="{{ url_for('login') }}"">
        Let's Go!
    </a class="btn"> -->
    <button type="button" class="btn" id="nextpage-btn">Let's Go!</button>
    <script>

        const nextpage = document.getElementById("nextpage-btn")
        nextpage.addEventListener("click", async (e) => {
            e.preventDefault();
            try {
                //no need for headers in a GET
                const response = await fetch("/api/sessionID", {
                    method: "GET", 
                    credentials: 'same-origin'
                }); //SOP mitigates CSRF attacks
                const data = await response.json()
                if (data.active) {
                    window.location.href = "{{ url_for ('homepage') }}";
                } else {
                    window.location.href = "{{ url_for ('login') }}";
                }
        } catch (error) {
            alert('Something went wrong.')
        }
        });

        // const infopage = getElementById("infopage")
        // nextpage.addEventListener(click,window.open("login.html", '_blank'))
    </script>
</body>
</html>