<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello there!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}"/>
</head>
<body>
    <div class="indexpage">
        <div class="genericflex">
            <h1> Welcome to DND </h1>
        </div>
    </div>
    <div class="content">
        <p class="descriptiontext">
            Do you go to Hornsby Girls High School? Are you a DND Fanatic?
            Or are you UTTERLY clueless, wondering when the dungeons or dragons will even show up?
            Never fear! The DND club at Hornsby Girls is JUST the place for you! 
            Catering to players of ALL skill levels, our helpful leaders Chloe and Colton will create the club experience of a lifetime!
        </p>
        <div style="display: flex; flex-direction: row; gap: 10px;">
            <img src="{{ url_for('static', filename='images/question.png')}}" width="max-width">        
            <h2>
                But wait... what IS DND ANYWAY?
            </h2>
        </div>
        
        <a class="btn" href="https://en.wikipedia.org/wiki/Dungeons_%26_Dragons">
            Go to the DND wikipedia page!
        </a>
        <p class="descriptiontext">
            ...That might be a little confronting at first though. 
            It's okay! Our club's admins, <b>Chloe</b> and <b>Colton</b>, would be more than welcome to show you around!
            Click below to become a member!
        </p>
        <!-- <a class="btn" href="{{ url_for('login') }}"">
            Let's Go!
        </a class="btn"> -->
        <button type="button" class="btn" id="nextpage-btn">Let's Go!</button>
    </div>

    <script>

        const nextpage = document.getElementById("nextpage-btn")
        nextpage.addEventListener("click", async (e) => {
            e.preventDefault();
            try {
                //no need for headers in a GET
                const response = await fetch("/api/sessionID", {
                    method: "GET", 
                    credentials: 'same-origin'
                }); //SOP mitigates CSRF attacks
                const data = await response.json()
                if (data.active) {
                    window.location.href = "{{ url_for ('home') }}";
                } else {
                    window.location.href = "{{ url_for ('login') }}";
                }
        } catch (error) {
            alert('Something went wrong.')
        }
        });

        // const infopage = getElementById("infopage")
        // nextpage.addEventListener(click,window.open("login.html", '_blank'))
    </script>
</body>
</html>