<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to DND</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}"/>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="manifest" href="{{ url_for('manifest') }}" />
    <link rel="manifest" href="{{ url_for('manifest') }}" />
    <!-- Service Worker -->
    <script>
    if ("serviceWorker" in navigator) {
        navigator.serviceWorker
            .register("{{ url_for('static', filename='service-worker.js') }})")
            .then(() => console.log("Service Worker Registered"))
            .catch((err) =>
                console.error("Service Worker Registration Failed:", err)
            );
    }
    </script>

</head>
<body>
    <div class = "navbar">
        <div>
            <a href="{{ url_for('index')}}">
                <div class="logosmall">
                    <img src="{{ url_for('static', filename='images/logosmall.png')}}" width="50" height="50"> 
                </div>
            </a>
        </div>

        <div class="navtext">
            {% if session.get('user_id') %}
                <a href="{{ url_for('profile')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/profile.png')}}" width="30" height="30"> 
                        Your profile
                    </div>
                </a>

                <a href="{{ url_for('notes')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/note.png')}}" width="30" height="30"> 
                        Notes
                    </div>
                </a>
            {% else %}
            {% endif %}
            <a href="{{ url_for('notices')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/bell.png')}}" width="30" height="30"> 
                    Notices
                </div>
            </a>

            <a href="{{ url_for('view_chars')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/char.png')}}" width="30" height="30"> 
                    Characters
                </div>
            </a>

            <a href="{{ url_for('dice')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/dice.png')}}" width="30" height="30"> 
                    Dice
                </div>
            </a>

            <a href="{{ url_for('timetable')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/time.png')}}" width="30" height="30"> 
                    Timetable
                </div>
            </a>
        </div>
        <div style="align-self: flex-end;">
            {% if session.get('user_id') %}
            <div class="navlinks">
                <a href="{{ url_for('logout')}}">Log out</a>
            </div>

            {% else %}
            <div class="navlinks">
                <a href="{{ url_for('login')}}">Log in</a>
            </div>

            {% endif %}
        </div>
    </div>
    <div class="indexpage">
        <div class="genericflex">
            <h1> Welcome to DND </h1>
        </div>
    </div>
    <div class="content">
        <p class="fancy_p">
            Do you go to Hornsby Girls High School? Are you a DND Fanatic?
            Or are you UTTERLY clueless, wondering when the dungeons or dragons will even show up?
        </p>
        <fieldset>
            <h3 style="color: rgb(115, 6, 6);">
                Never fear! The DND club at Hornsby Girls is JUST the place for you! 
            </h3>
        </fieldset>
        
        <p class="descriptiontext">
            Catering to players of ALL skill levels, our helpful leaders Chloe and Colton create the club experience of a lifetime in the classroom 207!
        </p>

        <button type="button" class="btn" id="nextpage-btn">Let's Go!</button>
    </div>

    <script>
        const nextpage = document.getElementById("nextpage-btn")
        nextpage.addEventListener("click", async (e) => {
            e.preventDefault();
            try {
                //no need for headers in a GET
                const response = await fetch("/api/sessionID", {
                    method: "GET", 
                    credentials: 'same-origin'
                }); //SOP mitigates CSRF attacks
                const data = await response.json()
                if (data.active) {
                    window.location.href = "{{ url_for ('home') }}";
                } else {
                    window.location.href = "{{ url_for ('login') }}";
                }
        } catch (error) {
            alert('Something went wrong.')
        }
        });

    </script>
</body>
</html>