<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fancy seeing you again!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
</head>

<body class="login">
    <div class="login">
        <img class="loginimg" src="{{ url_for('static', filename='images/logindragon.png')}}" alt="A cool black and red image of a dragon">

        <div style="flex-direction: column; align-self: center;">
            <h2>
                Log in
            </h2>
            <form id="form" class="form">
                <div class="content">
                    <div id="login-card" class="card" style="width: 50vw; height: 10vw; align-items: left; min-width: 300px; min-height: 150px;">
                        <div style="display: flex; flex-direction: column; max-width: fit-content;">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                        <div style="display: flex; flex-direction: column; max-width: fit-content;" >
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                    </div>
                    <div>
                        <input class="btn" type="submit" value="Let's Go!!">
                    </div>
                </div>
            </form>
            <h3>
                <a href="{{ url_for('signup') }}">Become a member!</a>
            </h3>
        </div>

    </div>




    <script>
        const form = document.getElementById('form');
        if (form) {
            form.addEventListener('submit', async (e) => {
            // Preventing the default event (here it stops the browser's default behaviour)
                e.preventDefault();
                const profile = {}
                const email = document.getElementById('email').value;
                const password = document.getElementById('password').value;
                profile['email'] = email
                profile['password'] = password
                //debug
                // console.log(profile)
                try {
                    const response = await fetch("/api/login", {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        credentials: 'same-origin',
                        body: JSON.stringify(profile)
                    });
                    const result = await response.json();
                    if (result['status'] == 'success') {
                        window.location.href = "{{ url_for('home') }}"
                    } else {
                            alert('Incorrect email/password. Maybe check your spelling lol')
                }
                    } catch (error) {
                        alert("Error, try again later");
                    }
            });
    } else {
        console.error("wheres the form vro")
    }
    </script>
</body>
</html> 