<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    please wait...
    <script>
        // async () => {
        //     alert('die')
        //     const response = await fetch('/api/logout', {
        //         method: 'POST', 
        //         credentials: 'same-origin',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         }
        //     });
        //     const logout = await response.json();
        //     if (logout.status === "success") {
        //         flash('Logged out successfuly! Taking you to the start:')
        //         window.location.href = "{{ url_for('index')}}"
        //     } else {
        //         alert(`Error, try again: ${logout.message}`)
        //     };
        // }
        
    </script>
</body>
</html>