<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- please wait... -->
    <script>
        const response = await fetch('/api/logout', {methods:['GET'], credentials:'same-origin'})
        logout = await response.json()
        if (logout.status === "success") {
            alert('Logged out successfuly! Taking you to the start:')
            window.location.href = "{{ url_for('index')}}"
        } else {
            alert(`Error, try again: ${logout.message}`)
        }
    </script>
</body>
</html>