<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>note note note sahur</title>
</head>
<body>
    <h1>
        notetaker heaven over here :heart emoji:
    </h1>

<!-- action="{{ url_for('homepage') }}" -->
    <form id="form" >
        <fieldset>
            <legend>Take notes here</legend>
            <textarea name="note_body" id="note_body" placeholder="Add your notes here!"></textarea>
        </fieldset>

        <input type="submit" class="btn" value="Submit session notes for today">
    </form>

    <h2>
        Previous notes
    </h2>
    <div id="previous-notes" style="display: flex;">
        
    </div>

    <script>
        async function getnotes() {
            try {
                // retrieving the saved notes
                const response = await fetch("/api/getnotes", {method: "GET", credentials: 'same-origin'});
                // defining the container for these saved notes (the empty div with the previous-notes ID)
                const container = document.getElementById('previous-notes');
                if (response['status'] == 'success') {
                    const data = await response.json();
                    // for loop that iterates through all the note entries, then 
                    for (const [date, body] of Object.entries(data['notes'])) {
                        const previousnote = document.createElement('div');
                        previousnote.innerHTML = `<h3>${date}</h3><p style="background=#B00B69">${escapeHtml(body)}</p>`;
                        container.appendChild(previousnote);
                }
            } else {
                alert("Error,", response['message']);
        }
            } catch (error) {
                alert("Error, try again later");
            }
        }

        getnotes()
        // document.querySelectorAll(".day").forEach((day) => {
        // const dayTitle = day.querySelector(".daytitle").textContent;
        // const notesField = day.querySelector(".notes");

        // if (notes[dayTitle]) {
        //     notesField.value = notes[dayTitle];
        // }
        // });
        // console.log("Notes loaded successfully.");
        // } catch (error) {
        //     console.error("Error loading notes:", error);
        // }
        
        const form = document.getElementById('form');
        if (form) {
            form.addEventListener('submit', async (e) => {
            // Preventing the default event (here it stops the browser's default behaviour)
                e.preventDefault();
                // loading all information into a dictionary to send to the backend
                const notes = {}
                const now = new Date();
                body = document.getElementById('note_body').value;
                notes['body'] = body
                // readable human format
                notes['date'] = now.toDateString()

                try {
                    const response = await fetch("/api/savenotes", {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        //mitigating CSRF - ONLY accepts it from 127.0.0.1:5000
                        credentials: 'same-origin',
                        body: JSON.stringify(notes)
                });
                r.response = await response.json
                    if (r.response['status'] == 'success') {
                        alert("Notes successfully saved!")
                        window.location.href = "{{ url_for('homepage') }}";
                } else {
                        alert("Error, try again later")
                }
                    } catch (error) {
                        alert("Error, try again later");
                    }
            });
    } else {
        console.error("wheres the form vro")
    }
    </script>
</body>
</html>