<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>note note note sahur</title>
</head>
<body>
    <h1>
        notetaker heaven over here :heart emoji:
    </h1>


    <form action="{{ url_for(homepage) }}">
        <fieldset>
            <legend>Take notes here</legend>
            <input name="title" id="note_title" textvalue="New Note">
        <textarea name="ch_name" id="ch_name" placeholder="Add your notes here!"></textarea>
        </fieldset>

        <input type="submit" class="btn" value="Submit session nots for today">
    </form>

    <script>

    </script>
</body>
</html>