<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
    <title>Take notes</title>
</head>
<body>
    <div class = "navbar">
        <div>
            <a href="{{ url_for('index')}}">
                <div class="logosmall">
                    <img src="{{ url_for('static', filename='images/logosmall.png')}}" width="50" height="50"> 
                </div>
            </a>
        </div>

        <div class="navtext">
            {% if session.get('user_id') %}
                <a href="{{ url_for('profile')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/profile.png')}}" width="30" height="30"> 
                        Your profile
                    </div>
                </a>

                <a href="{{ url_for('notes')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/note.png')}}" width="30" height="30"> 
                        Notes
                    </div>
                </a>
            {% else %}
            {% endif %}
            <a href="{{ url_for('notices')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/bell.png')}}" width="30" height="30"> 
                    Notices
                </div>
            </a>

            <a href="{{ url_for('view_chars')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/char.png')}}" width="30" height="30"> 
                    Characters
                </div>
            </a>

            <a href="{{ url_for('dice')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/dice.png')}}" width="30" height="30"> 
                    Dice
                </div>
            </a>

            <a href="{{ url_for('timetable')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/time.png')}}" width="30" height="30"> 
                    Timetable
                </div>
            </a>
        </div>
        <div style="align-self: flex-end;">
            {% if session.get('user_id') %}
            <div class="navlinks">
                <a href="{{ url_for('logout')}}">Log out</a>
            </div>

            {% else %}
            <div class="navlinks">
                <a href="{{ url_for('login')}}">Log in</a>
            </div>

            {% endif %}
        </div>
    </div>
    <h1>
        Take notes for sessions
    </h1>


    <form id="form" >
        <fieldset>
            <legend>Take notes here</legend>
            <textarea name="note_body" id="note_body" placeholder="Add your notes here!"></textarea>
        </fieldset>

        <input type="submit" class="btn" value="Submit session notes for today" style="max-width: 75vw; margin-left: 20vw; margin-right: 20vw;">
    </form>

    <h2>
        Previous notes
    </h2>
    <div class="previous_notes" id="previous-notes" style="display: flex; flex-direction: column;">
        
    </div>

    <script>
        async function getnotes() {
            try {
                // retrieving the saved notes
                const response = await fetch("/api/getnotes", {method: "GET", credentials: 'same-origin'});
                const data = await response.json();
                // defining the container for these saved notes (the empty div with the previous-notes ID)

                if (data.status === 'success') {
                    const container = document.getElementById('previous-notes');
                    container.innerHTML = '';
                    // for loop that iterates through all the note entries 
                    for (const note of data.notes) {
                        // previous note div
                        const previousnote = document.createElement('div');
                        previousnote.className = "card"
                        // creating the date and body of the note
                        const h = document.createElement('h3'); h.textContent = note.date;
                        const p = document.createElement('p'); p.textContent = note.notes;
                        previousnote.appendChild(h);
                        previousnote.appendChild(p);
                        container.appendChild(previousnote);
                }
            } else {
                if (data.message === "unauthenticated") {
                    alert("Sign in to see/save your previous notes")
                    window.location.href = ('{{ url_for("login")}}')
                } else {
                    alert("Error, try again later");
                }
                
        }
            } catch (error) {
                console.error(error);
                alert("Error, try again later");
            }
        }

        getnotes()

        const form = document.getElementById('form');
        if (form) {
            form.addEventListener('submit', async (e) => {
                e.preventDefault();
                const response = await fetch("/api/sessionID", {method: "GET", credentials: 'same-origin'});
                sessionID = await response.json();
                if (!sessionID.active) {
                    alert("Sign in first");
                    window.location.href = ('{{ url_for("login")}}')
                }
                // Preventing the default event (here it stops the browser's default behaviour)
                
                // loading all information into a dictionary to send to the backend
                const notes = {}
                const now = new Date();
                body = document.getElementById('note_body').value;
                notes['body'] = body
                // readable human format
                notes['date'] = now.toDateString()

                try {
                    const response = await fetch("/api/savenotes", {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        //mitigating CSRF - ONLY accepts it from 127.0.0.1:5000
                        credentials: 'same-origin',
                        body: JSON.stringify(notes)
                });
                result = await response.json()
                    if (result.status === 'success') {
                        alert("Notes successfully saved!")
                        window.location.href = "{{ url_for('home') }}";
                    } else {
                        alert(`Error, ${result.error}`)
                    }
            } catch (error) {
                alert("Error, try again later");
        }
            });
    } else {
        console.error("wheres the form vro")
    }
    </script>
</body>
</html>