<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <title>Notices</title>
</head>
<body>
    <div class = "navbar">
        <div>
            <a href="{{ url_for('index')}}">
                <div class="logosmall">
                    <img src="{{ url_for('static', filename='images/logosmall.png')}}" width="50" height="50"> 
                </div>
            </a>
        </div>

        <div class="navtext">
            {% if session.get('user_id') %}
                <a href="{{ url_for('profile')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/profile.png')}}" width="30" height="30"> 
                        Your profile
                    </div>
                </a>

                <a href="{{ url_for('notes')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/note.png')}}" width="30" height="30"> 
                        Notes
                    </div>
                </a>
            {% else %}
            {% endif %}
            <a href="{{ url_for('notices')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/bell.png')}}" width="30" height="30"> 
                    Notices
                </div>
            </a>

            <a href="{{ url_for('view_chars')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/char.png')}}" width="30" height="30"> 
                    Characters
                </div>
            </a>

            <a href="{{ url_for('dice')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/dice.png')}}" width="30" height="30"> 
                    Dice
                </div>
            </a>

            <a href="{{ url_for('timetable')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/time.png')}}" width="30" height="30"> 
                    Timetable
                </div>
            </a>
        </div>
        <div style="align-self: flex-end;">
            {% if session.get('user_id') %}
            <div class="navlinks">
                <a href="{{ url_for('logout')}}">Log out</a>
            </div>

            {% else %}
            <div class="navlinks">
                <a href="{{ url_for('login')}}">Log in</a>
            </div>

            {% endif %}
        </div>
    </div>
    <h1>
        notices..!
    </h1>
    <div id="notice-button">

    </div>
    <div id="previous-notices">

    </div>


    <script>
        async function getnotices() {
            try {
                // retrieving the notices
                const response = await fetch("/api/getnotices", {method: "GET", credentials: 'same-origin'});
                const data = await response.json();
                // defining the container for these saved notes (the empty div with the previous-notes ID)
                if (data.status === 'success') {
                    const container = document.getElementById('previous-notices');
                    container.innerHTML = '';
                    if (data.notices === "No notices") {
                        const p = document.createElement('p'); p.textContent = "No notices";
                        return;
                    } else {
                    // for loop that iterates through all the created notices
                        for (const notice of data.notices) {
                            // previous notice div
                            const pNotice = document.createElement('div'); pNotice.id = "pNotice";
                            const title = document.createElement('h3'); title.textContent = notice.title;
                            const body = document.createElement('p'); body.textContent = notice.body;
                            body.class = "fancy_p"
                            const date = document.createElement('p'); date.textContent = notice.date;
                            pNotice.appendChild(title);
                            pNotice.appendChild(body);
                            pNotice.appendChild(date);
                            container.appendChild(pNotice);
                        }
                    };
                } else {
                    alert(`Error:  ${data['message']}`);
            }
        } catch (error) {
            console.error(error);
            alert("Error, try again later");
        }
    }
        getnotices()

        async function checkAdmin() {
            const response = await fetch('/api/admin', {method: 'GET', credentials: 'same-origin'});
            const data = await response.json()
            if (data.admin) {
                // const noticeButtonDiv = document.createElement('div');
                const noticeButtonDiv = document.getElementById("notice-button");
                noticeButtonDiv.innerHTML = `<button id="newnotice">Add new notice</button>`;
                // container.appendChild(noticeButtonDiv);
                const newnoticeButton = document.getElementById("newnotice");
                newnoticeButton.addEventListener("click", async (e) => {
                    e.preventDefault();
                    window.open("{{ url_for('create_notices') }}");
                });
            }
        }

        checkAdmin()

    </script>
</body>
</html>