<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hey.. its Z.. he/him</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}"/>
</head>
<body>
    <h1>
        Your profile
    </h1>
    <div id="profile_info">

    </div>
    <a class="btn" href="{{ url_for('editprofile') }}">Edit profile</a>
    <script>
        async function getprofile() {
            try {
                // retrieving the saved notes
                const response = await fetch('/api/getprofile', {method: "GET", credentials: 'same-origin'});
                const data = await response.json();
                // defining the container for these saved notes (the empty div with the previous-notes ID)
                if (data.status === 'success') {
                    const container = document.getElementById('profile_info');
                    container.innerHTML = '';
                    // for loop that iterates through all the note entries 
                        // previous note div
                    const profileDiv = document.createElement('div');
                    if (data.profile === "none"){
                        profileDiv.textContent = "You haven't made one!";
                        container.appendChild(profileDiv)
                        return;
                } else {
                    // creating the date and body of the note
                    const name = document.createElement('h3'); name.textContent = data.profile.display_name;
                    const bio = document.createElement('p'); bio.textContent = data.profile.bio;
                    bio.style.background = '#FE4036';
                    profileDiv.appendChild(name);
                    profileDiv.appendChild(bio);
                    container.appendChild(profileDiv);
                };
            } else {
                if (data.message === "unauthenticated") {
                    alert("Sign in to see/save your profile")
                    window.location.href = ('{{ url_for("login")}}')
                } else {
                    alert(`Error, ${data.message}`);
                }
                
        };
            } catch (error) {
                alert(error);
            };
        };

        getprofile()
    </script> 

</body>
</html>