<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hey.. its Z.. he/him</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}"/>
</head>
<body>
 <div class = "navbar">
        <div>
            <a href="{{ url_for('index')}}">
                <div class="logosmall">
                    <img src="{{ url_for('static', filename='images/logosmall.png')}}" width="50" height="50"> 
                </div>
            </a>
        </div>

        <div class="navtext">
            {% if session.get('user_id') %}
                <a href="{{ url_for('profile')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/profile.png')}}" width="30" height="30"> 
                        Your profile
                    </div>
                </a>

                <a href="{{ url_for('notes')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/note.png')}}" width="30" height="30"> 
                        Notes
                    </div>
                </a>
            {% else %}
            {% endif %}
            <a href="{{ url_for('notices')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/bell.png')}}" width="30" height="30"> 
                    Notices
                </div>
            </a>

            <a href="{{ url_for('view_chars')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/char.png')}}" width="30" height="30"> 
                    Characters
                </div>
            </a>

            <a href="{{ url_for('dice')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/dice.png')}}" width="30" height="30"> 
                    Dice
                </div>
            </a>

            <a href="{{ url_for('timetable')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/time.png')}}" width="30" height="30"> 
                    Timetable
                </div>
            </a>
        </div>
        <div style="align-self: flex-end;">
            {% if session.get('user_id') %}
            <div class="navlinks">
                <a href="{{ url_for('logout')}}">Log out</a>
            </div>

            {% else %}
            <div class="navlinks">
                <a href="{{ url_for('login')}}">Log in</a>
            </div>

            {% endif %}
        </div>
    </div>
    <h1>
        Your profile
    </h1>
    <div id="profile_info">

    </div>
    <a class="btn" href="{{ url_for('editprofile') }}">Edit profile</a>
    <script>
        async function getprofile() {
            try {
                // retrieving the saved notes
                const response = await fetch('/api/getprofile', {method: "GET", credentials: 'same-origin'});
                const data = await response.json();
                // defining the container for these saved notes (the empty div with the previous-notes ID)
                if (data.status === 'success') {
                    const container = document.getElementById('profile_info');
                    container.innerHTML = '';
                    // for loop that iterates through all the note entries 
                        // previous note div
                    const profileDiv = document.createElement('div');
                    const name = document.createElement('h3'); name.textContent = data.profile.display_name;
                    const bio = document.createElement('p'); bio.textContent = data.profile.bio;
                    bio.style.background = '#FE4036';
                    profileDiv.appendChild(name);
                    profileDiv.appendChild(bio);
                    container.appendChild(profileDiv);
                //     if (data.profile === "none"){
                //         const name = document.createElement('h3'); name.textContent = data.profile.display_name;
                //         const bio = document.createElement('p'); bio.textContent = "Hi! I'm a DND player at HGHS!";
                //         container.appendChild(name)
                //         container.appendChild(bio)
                //         return;
                // } else {
                //     // creating the date and body of the note
                //     const name = document.createElement('h3'); name.textContent = data.profile.display_name;
                //     const bio = document.createElement('p'); bio.textContent = data.profile.bio;
                //     bio.style.background = '#FE4036';
                //     profileDiv.appendChild(name);
                //     profileDiv.appendChild(bio);
                //     container.appendChild(profileDiv);
                // };
            } else {
                if (data.message === "unauthenticated") {
                    alert("Sign in to see/save your profile")
                    window.location.href = ('{{ url_for("login")}}')
                } else {
                    alert(`Error, ${data.message}`);
                }
                
        };
            } catch (error) {
                alert(error);
            };
        };

        getprofile()
    </script> 

</body>
</html>