<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../static/stylesheet.css"/>
<body>
    <form class="form" method="post">
        <p>
            <label for "name">What's your email?</label>
            <input type="text" name="name" value="..." required>
        </p>
        <p>
            <label for "password">Password</label>
            <input type="text" name="password" value="..." required>
        </p>
        <input type="submit" value="Let's Go!!">
    </form>
    <script>
        const form = document.getElementById('.form');
        form.addEventListener('submit', async (e) => {
            // Preventing the default event (here it stops the browser's default behaviour)
            e.preventDefault();
            const profile = {}
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            profile["email"] = email
            profile["password"] = password
            //debug
            console.log(profile)
            try {
                const response = await fetch("/save_login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(profile),
                });
                if (!response.ok) {
                    throw new Error("oops... try again...");
                }
                else {
                    alert("Account created! Welcome to DND!");
                };
                } catch (error) {
                    console.error("Error saving membership", error);
                    alert("Failed to create account... try again maybe?");
                    }
        });
    </script>
</body>
</html>