<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timetable</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}"/>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
</head>
<body>
    <div class = "navbar">
        <div>
            <a href="{{ url_for('index')}}">
                <div class="logosmall">
                    <img src="{{ url_for('static', filename='images/logosmall.png')}}" width="50" height="50"> 
                </div>
            </a>
        </div>

        <div class="navtext">
            {% if session.get('user_id') %}
                <a href="{{ url_for('profile')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/profile.png')}}" width="30" height="30"> 
                        Your profile
                    </div>
                </a>

                <a href="{{ url_for('notes')}}">
                    <div class="navlinks">
                        <img src="{{ url_for('static', filename='images/nav/note.png')}}" width="30" height="30"> 
                        Notes
                    </div>
                </a>
            {% else %}
            {% endif %}
            <a href="{{ url_for('notices')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/bell.png')}}" width="30" height="30"> 
                    Notices
                </div>
            </a>

            <a href="{{ url_for('view_chars')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/char.png')}}" width="30" height="30"> 
                    Characters
                </div>
            </a>

            <a href="{{ url_for('dice')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/dice.png')}}" width="30" height="30"> 
                    Dice
                </div>
            </a>

            <a href="{{ url_for('timetable')}}">
                <div class="navlinks">
                    <img src="{{ url_for('static', filename='images/nav/time.png')}}" width="30" height="30"> 
                    Timetable
                </div>
            </a>
        </div>
        <div style="align-self: flex-end;">
            {% if session.get('user_id') %}
            <div class="navlinks">
                <a href="{{ url_for('logout')}}">Log out</a>
            </div>

            {% else %}
            <div class="navlinks">
                <a href="{{ url_for('login')}}">Log in</a>
            </div>

            {% endif %}
        </div>
    </div>
    <h1>Timetable</h1>

    <div id="event-button-div" style="align-self: center;">

    </div>
</table>
    <h2>Usual timetable (by school weeks)</h2>
    <!-- only used if there are no scheduled events at all -->
    <div id="no-sess">

    </div>

    <table id="timetable" class="timetable">
        <thead>
            <tr>
                <th>Day</th>
                <th>Week A</th>
                <th>Week B</th>
            </tr>
        </thead>
        <tbody>
            <tr id="rowMon">
                <td class="day-label">Monday</td>
                <td id="weekAMon"></td>
                <td id="weekBMon"></td>
            </tr>
            <tr id="rowTues">
                <td class="day-label">Tuesday</td>
                <td id="weekATues"></td>
                <td id="weekBTues"></td>
            </tr>
            <tr id="rowWed">
                <td class="day-label">Wednesday</td>
                <td id="weekAWed"></td>
                <td id="weekBWed"></td>
            </tr>
            <tr id="rowThurs">
                <td class="day-label">Thursday</td>
                <td id="weekAThurs"></td>
                <td id="weekBThurs"></td>
            </tr>
            <tr id="rowFrid">
                <td class="day-label">Friday</td>
                <td id="weekAFrid"></td>
                <td id="weekBFrid"></td>
            </tr>
        </tbody>
    </table>



    <h2>Upcoming sessions</h2>
    <div id="upcoming-sess">
        <!-- this inner html will be edited by the script..
        which will check what dates there are sessions in -->
        <!-- The sessions will be DD/MM/YY followed by Weekday Day Month-->
    </div>
    <script>
        async function getTimetable() {
            try {
                // retrieving the current timetable
                const response = await fetch("/api/gettimetable", {method: "GET", credentials: 'same-origin'});
                const data = await response.json();
                if (data.status === 'success') {
                    // for loop that iterates through the active dats, adding "scheduled session" text
                    if (data.active_days.length === 0) {
                        noSess = document.getElementById('no-sess');
                        noSess.innerHTML = `<p class="fancy_p">Timetable is looking a little empty...</p>`
                        return;
                    } else {
                        for (const day of data.active_days) {
                            const container = document.getElementById(day);
                            // create a new stylesheet and making it the "active day class"
                            activeDay = document.createElement('div'); activeDay.innerHTML = `<p class="sched_sess">Scheduled session!</p>`;
                            container.appendChild(activeDay);
                        }
                    }
                } else {
                    alert("Error,", response['message']);
            }
                } catch (error) {
                    alert("Error, try again later");
                }
            }
        // different buttons will be visible for people with different perms
        async function getEvents() {
            try {
                // retrieving the saved notes
                const response = await fetch("/api/getevents", {method: "GET", credentials: 'same-origin'});
                const data = await response.json()
                // defining the container for tthe notices
                const container = document.getElementById('upcoming-sess');
                if (data.status === 'success') {
                    // for loop that iterates through all the note entries, then 
                    if (data.events.length === 0) {
                        const noEvent = document.createElement('p'); noEvent.textContent = "No events... yet!"
                        container.appendChild(noEvent)
                        return;
                    };
                    for (event of data.events) {
                        const eventDiv = document.createElement('div');
                        eventDiv.className = 'card'
                        eventDiv.innerHTML = `<h2>${event.date}</h2><h3 style="color:rgb(115, 6, 6); font-size="36px">${event.title}</h3><p class="fancy_p">${event.body}</p>`;
                        container.appendChild(eventDiv);
                    };
                    
                } else {
                    alert(`Error, ${data.message}`);
                }
            } catch (error) {
                alert("Error, try again later");
            }
        }
        async function checkAdmin () {
            const response = await fetch('/api/admin', {method: 'GET', credentials:"same-origin"});
            const data = await response.json()
            if (data.admin) {
                const eventButtonDiv = document.getElementById('event-button-div');
                eventButtonDiv.innerHTML = `<button id="newevent" class="btn">Edit</button>`;
                // container.appendChild(eventButtonDiv);
                eventButton = document.getElementById('newevent')
                eventButton.addEventListener("click", async (e) => {
                    e.preventDefault();
                    window.open("{{ url_for('t_event') }}");
                });
            }; 
        };
        document.addEventListener("DOMContentLoaded", () => {
            getTimetable();
            getEvents();
            checkAdmin();
        });
    </script>
</body>
</html>