<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tiki tiki tiki tiiiikii</title>
    <link rel="stylesheet" href="../static/stylesheet.css"/>
</head>
<body>
    <h1>Timetables</h1>

    <h2>Usual timetable (by school weeks)</h2>
    <div> 
        <h2>Week A</h2>
        <div id="weekAMon">
            Monday
        </div>

        <div id="weekATues">
            Tuesday
        </div>

        <div id="weekAWed">
            Wednesday
        </div>

        <div id="weekAThurs">
            Thursday
        </div>

        <div id="weekAFrid">
            Friday
        </div>
    </div>
    <div> 
        <h2>Week B</h2>
        <div id="weekBMon">
            Monday
        </div>

        <div id="weekBTues">
            Tuesday
        </div>

        <div id="weekBWed">
            Wednesday
        </div>

        <div id="weekBThurs">
            Thursday
        </div>

        <div id="weekBFrid">
            Friday
        </div>
    </div>

    <h2>Upcoming sessions</h2>
    <div id="upcomingSess">
        You have sessions on dates:
        <!-- this inner html will be edited by the script..
        which will check what dates there are sessions in -->
        <!-- The sessions will be DD/MM/YY followed by Weekday Day Month-->
    </div>
</body>
</html>