<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}"/>
    <title>everybody so creative</title>
</head>
<body>
    <h1>
        Viewing characters
    </h1>
    <a class="btn" href="{{ url_for('charsheets')}}">Create your own!</a>
    <div id="characters" class="characters">

    </div>
    <script>
        async function getchars() {
            try {
                // retrieving the saved notes
                const response = await fetch("/api/getchars", {method: "GET", credentials: 'same-origin'});
                const data = await response.json();
                // defining the container for these saved notes (the empty div with the previous-notes ID)

                if (data.status === 'success') {
                    const container = document.getElementById('characters');
                    container.innerHTML = '';
                    //creating the character divs
                    const u_characters = document.createElement('div');
                    const a_characters = document.createElement('div');
                    // for loop that iterates through all the note entries 
                    if (data.signedin) {
                        const userH = document.createElement('h2'); userH.textContent = "Your characters";
                        u_characters.appendChild(userH);
                        for (const ch_entry of data.user_c) {
                            // previous note div
                            // creating the date and body of the note
                            if (data.user_c.length === 0) {
                                const p = document.createElement('p'); p.textContent = 'No characters yet.';
                                u_characters.appendChild(p)
                            } else {
                                const c_name = document.createElement('h3'); c_name.textContent = ch_entry.name;
                                const c_info = document.createElement('p'); 
                                c_info.textContent = `Age: ${ch_entry.info['age']}, Description: ${ch_entry.info['desc']}, Race: ${ch_entry.info['race']}} `
                                const c_stats = document.createElement('p'); 
                                c_stats.textContent = `Strength: ${ch_entry.stats['str']}, Dexterity: ${ch_entry.stats['dex']}, Cont: ${ch_entry.stats['con']}, Intelligence: ${ch_entry.stats['int']}`;
                                u_characters.appendChild(c_name);
                                u_characters.appendChild(c_info);
                                u_characters.appendChild(c_stats);
                            };

                        };
                        
                        const otherH = document.createElement('h2'); otherH.textContent = "Other's characters";
                        a_characters.appendChild(otherH);
                        for (const ch_entry of data.all_c) {
                            // previous note div
                            // creating the date and body of the note
                            if (data.user_c.length === 0) {
                                const p = document.createElement('p'); p.textContent = 'No characters yet.';
                                u_characters.appendChild(p)
                                //breaking the statement
                                return;
                            } else {
                                const a_user = document.createElement('h3'); a_user.textContent = ch_entry.user;
                                const a_name = document.createElement('h3'); a_name.textContent = ch_entry.name;
                                const a_info = document.createElement('p'); 
                                a_info.textContent = `Age: ${ch_entry.info['age']}, Description: ${ch_entry.info['desc']}, Race: ${ch_entry.info['race']}}`;
                                const a_stats = document.createElement('p'); 
                                a_stats.textContent = `Strength: ${ch_entry.stats['str']}, Dexterity: ${ch_entry.stats['dex']}, Cont: ${ch_entry.stats['con']}, Intelligence: ${ch_entry.stats['int']}`;
                                a_characters.appendChild(a_user)
                                a_characters.appendChild(a_name);
                                a_characters.appendChild(a_info);
                                a_characters.appendChild(a_stats);
                            };
                        };
                        container.append(u_characters);
                        container.append(a_characters);
                    } else {
                        const allH = document.createElement('h2'); allH.textContent = "All characters";
                        a_characters.appendChild(allH)
                        for (const ch_entry of data.all_c) {
                            // previous note div
                            // creating the date and body of the note
                            if (data.all_c.length === 0) {
                                const p = document.createElement('p'); p.textContent = 'No characters yet.';
                                u_characters.appendChild(p)
                            } else {
                                const a_user = document.createElement('h3'); a_user.textContent = ch_entry.user;
                                const a_name = document.createElement('h3'); a_name.textContent = ch_entry.name;
                                const a_info = document.createElement('p'); 
                                a_info.textContent = `Age: ${ch_entry.info['age']}, Description: ${ch_entry.info['desc']}, Race: ${ch_entry.info['race']}} `;
                                const a_stats = document.createElement('p'); 
                                a_stats.textContent = `Strength: ${ch_entry.stats['str']}, Dexterity: ${ch_entry.stats['dex']}, Cont: ${ch_entry.stats['con']}, Intelligence: ${ch_entry.stats['int']}`;
                                a_characters.appendChild(a_user)
                                a_characters.appendChild(a_name);
                                a_characters.appendChild(a_info);
                                a_characters.appendChild(a_stats);
                            };
                        };
                        container.appendChild(a_characters)
                    };
                }
            } catch (error) {
                console.error(error);
                alert("Error, try again later");
            };
        };

        getchars()


    </script>
</body>
</html>